doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Administration E-commerce
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer")
        script(src="/js/admin.js")
    body 
        header
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                .container
                    a.navbar-brand(href="/admin") Administration
                    .collapse.navbar-collapse
                        ul.navbar-nav
                            li.nav-item
                                a.nav-link(href="/admin/user" class=route=='/admin/user'?'active':'') Utilisateurs 
                           
                            li.nav-item
                                a.nav-link(href="/admin/product" class=route=='/admin/product'?'active':'') Produits 
                           

        - var messages = getMessages()
        if messages.success
            .container.mt-4
                each msg in messages.success
                    .alert.alert-success= msg
        if messages.error
            .container.mt-4
                each msg in messages.error
                    .alert.alert-danger= msg

        block content

