extends ../layout.pug

block content
    .container
        section
            h1 Gestion des produits
        .d-flex.justify-content-end
            a(href='/admin/product/add')
                button.btn.btn-primary Ajouter un produit